<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <php>
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
            <exclude>./tests/fSQLBaseTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>